<% @stores.each do |store_avaliation| %>
  <tr>
    <td><span class="circle-gray"><%= store_avaliation.id %></span>&nbsp<%= store_avaliation.store_name %></td>
    <td class="text-center"><%= link_to 'Show', store_avaliation %></td>
    <td class="text-center" ><%= link_to 'Edit', edit_store_avaliation_path(store_avaliation) %></td>
    <td class="text-center" ><%= link_to 'Destroy', store_avaliation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<style>
.circle-gray{
  background:whitesmoke;
  border:1px solid lightgray;
  vertical-align:middle;
  padding:5px 8px;
  text-align:center;
  border-radius:50%;
}
</style>