<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Name:</strong>
        <%= @store.store_name %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @store.description %>
      </p>
      <span class="button-group">
        <%= link_to 'Editar', edit_store_path(@store), class:"btn btn-primary" %> 
        <%= link_to 'Voltar', stores_path, class:"btn btn-secondary" %>
      </span>
    </div>
  </div>
</div>