<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <p id="notice"><%= notice %></p>
        <h4>Usuários cadastrados</h4>
      <hr> 
      <table class="table table-bordered">
        <thead>
          <tr>
          <th colspan="4">Nome:</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.user_name %></td>
              <td class="text-center"><%= link_to 'Show', user %></td>
              <td class="text-center"><%= link_to 'Edit', edit_user_path(user) %></td>
              <td class="text-center"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>        
        </tbody>
      </table>
      <span class="bottom-btn" >
        <%= link_to 'Cadastrar novo usuário', new_user_path, class:"btn btn-primary" %>
      </span>
    </div>
  </div>
</div>

<style>
body{
  font-weight:300;
  font-size:14px;
}
.bottom-btn{
  float:right
}
link{
  font-size:12px;
}
.table thead th{
  background:whitesmoke
}
</style>