<!-- Page Content -->
<div class="container">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand active" href="#">Ponto de venda</a>
    </nav>
    <div class="row table-area">  
      <div class="col-lg-12 text-left tables">
          <h6>Consolidado das lojas</h6>
          <table class="table table-bordered text-center">
            <tbody>
              <tr>
                <th scope="col" colspan="3" class="text-center">
                  Satisfação<br>
                  -
                </th>
                <th scope="col" class="text-center">
                  Avaliações<br>
                  <%= StoreAvaliation.count %>
                </th>
                <th scope="col" class="text-center">
                  Excelente<br>
                  <%= image_tag("1.png", :style => 'width:20px')%>
                </th>
                <th scope="col" class="text-center">
                  Muito Bom<br>
                  <%= image_tag("2.png", :style => 'width:20px')%>
                </th>
                <th scope="col" class="text-center">
                  Razoável<br>
                  <%= image_tag("3.png", :style => 'width:20px')%>
                </th>
                <th scope="col" class="text-center">
                  Ruim<br>
                  <%= image_tag("4.png", :style => 'width:20px')%>
                </th>
                <th scope="col" class="text-center">
                  Horrível<br>
                  <%= image_tag("5.png", :style => 'width:20px')%>
                </th>
              </tr>
            </tbody>
          </table>   
   
          <h6>Lojas</h6> 
          <%= form_tag store_avaliations_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= button_tag(type: "submit", class: "btn ") do %>
              <i class="material-icons">
                search
              </i>          
            <% end %>         
          <% end %>
          <br>
          <table class="table table-bordered text-left">
            <thead>
              <tr>
                <th scope="col" colspan="3">Nome da loja</th>
                <th scope="col">Satisfação</th>
                <th scope="col">Avaliações</th>
                <th scope="col">Excelente</th>
                <th scope="col">Muito Bom</th>
                <th scope="col">Razoável</th>
                <th scope="col">Ruim</th>
                <th scope="col">Horrível</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @stores.each do |stores| %>
                <tr class="centered text-center">        
                  <td colspan="3" class="text-left"><span class="circle-gray">
                    <%= stores.id %></span>&nbsp &nbsp
                    <%= stores.store_name %></td>
                  <th>-</th>
                  <th><%= stores.store_avaliations.count %></th>
                  <th><%= stores.store_avaliations.where(avaliate: "Excelente").count %></th>
                  <th><%= stores.store_avaliations.where(avaliate: "Muito Bom").count %></th>
                  <th><%= stores.store_avaliations.where(avaliate: "Razoável").count %></th>
                  <th><%= stores.store_avaliations.where(avaliate: "Ruim").count %></th>
                  <th><%= stores.store_avaliations.where(avaliate: "Horrível").count %></th>
                  <td>
                  </td>
                </tr>         
              <% end %>     
            </tbody>                  
          </table>               
          <%= will_paginate @stores %>
        </div>
      </div>
    </div>
  </div>
</div>