<br><div class="container">
  <div class="row">
    <div class="col-lg-12 text-left">
      <p>
        <strong>Usuário:</strong>
        <%= @store_avaliation.user.user_name %>
      </p>
      <p>
        <strong>Store:</strong>
        <%= @store_avaliation.store.store_name %>
      </p>
      <p>
        <strong>Avaliação:</strong>
        <%= @store_avaliation.avaliate %>
      </p>
      <%= link_to 'Edit', edit_store_avaliation_path(@store_avaliation) %> |
      <%= link_to 'Back', store_avaliations_path %>
    </div>
  </div>
</div>



<style>
body{
  font-weight:300;
  font-size:14px;
}

.bottom-btn{
  float:right
}

link{
  font-size:12px;
}

.table thead th{
  background:whitesmoke
}

.circle-gray{
  background:whitesmoke;
  border:1px solid lightgray;
  vertical-align:middle;
  padding:5px 8px;
  text-align:center;
  border-radius:50%;
}
</style>